.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.880000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.866000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.035156;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-ms-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-webkit-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-4.572421px;}
._4{margin-left:-2.252789px;}
._3{margin-left:-1.020000px;}
._2{width:1.074000px;}
._1{width:2.226000px;}
._0{width:4.026000px;}
._7{width:47.155866px;}
._5{width:48.845998px;}
.fc4{color:rgb(171,171,171);}
.fc0{color:rgb(63,63,64);}
.fc1{color:rgb(113,115,117);}
.fc2{color:rgb(49,49,50);}
.fc3{color:rgb(134,136,139);}
.fs0{font-size:32.999999px;}
.fs4{font-size:35.999999px;}
.fs3{font-size:41.999998px;}
.fs5{font-size:47.999998px;}
.fs6{font-size:49.477265px;}
.fs2{font-size:53.999998px;}
.fs1{font-size:77.999997px;}
.y7{bottom:15.750001px;}
.y0{bottom:27.000000px;}
.y4{bottom:27.000032px;}
.y6{bottom:36.750000px;}
.y5{bottom:57.750000px;}
.y3{bottom:68.999999px;}
.y2{bottom:83.249998px;}
.ya{bottom:103.499998px;}
.y9{bottom:119.249997px;}
.yb{bottom:120.000000px;}
.y8{bottom:134.999996px;}
.ye{bottom:135.749994px;}
.yd{bottom:158.999993px;}
.y19{bottom:163.499993px;}
.y18{bottom:185.999992px;}
.y17{bottom:232.499990px;}
.yc{bottom:249.749990px;}
.y16{bottom:253.499989px;}
.y15{bottom:274.499989px;}
.y14{bottom:317.999987px;}
.yf{bottom:326.250019px;}
.y13{bottom:338.999986px;}
.y12{bottom:359.999985px;}
.y11{bottom:403.499983px;}
.y10{bottom:424.499982px;}
.y1{bottom:603.750008px;}
.h4{height:22.373999px;}
.h3{height:22.835999px;}
.hc{height:24.407999px;}
.hb{height:28.475999px;}
.h8{height:32.463866px;}
.he{height:37.101561px;}
.hf{height:38.243414px;}
.h7{height:41.739256px;}
.h5{height:53.975998px;}
.h2{height:112.499995px;}
.hd{height:438.749982px;}
.h9{height:645.500000px;}
.h6{height:689.249971px;}
.ha{height:737.999969px;}
.h1{height:738.000000px;}
.h0{height:792.000000px;}
.w2{width:557.999977px;}
.w1{width:558.000000px;}
.w0{width:612.000000px;}
.x1{left:14.999999px;}
.x0{left:27.000000px;}
.x2{left:43.499998px;}
.x3{left:92.999996px;}
.x4{left:208.124991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-6.096561pt;}
._4{margin-left:-3.003719pt;}
._3{margin-left:-1.360000pt;}
._2{width:1.432000pt;}
._1{width:2.968000pt;}
._0{width:5.368000pt;}
._7{width:62.874489pt;}
._5{width:65.127997pt;}
.fs0{font-size:43.999998pt;}
.fs4{font-size:47.999998pt;}
.fs3{font-size:55.999998pt;}
.fs5{font-size:63.999997pt;}
.fs6{font-size:65.969687pt;}
.fs2{font-size:71.999997pt;}
.fs1{font-size:103.999996pt;}
.y7{bottom:21.000002pt;}
.y0{bottom:36.000000pt;}
.y4{bottom:36.000042pt;}
.y6{bottom:49.000001pt;}
.y5{bottom:76.999999pt;}
.y3{bottom:91.999999pt;}
.y2{bottom:110.999998pt;}
.ya{bottom:137.999997pt;}
.y9{bottom:158.999996pt;}
.yb{bottom:160.000000pt;}
.y8{bottom:179.999995pt;}
.ye{bottom:180.999992pt;}
.yd{bottom:211.999991pt;}
.y19{bottom:217.999991pt;}
.y18{bottom:247.999990pt;}
.y17{bottom:309.999987pt;}
.yc{bottom:332.999986pt;}
.y16{bottom:337.999986pt;}
.y15{bottom:365.999985pt;}
.y14{bottom:423.999982pt;}
.yf{bottom:435.000026pt;}
.y13{bottom:451.999981pt;}
.y12{bottom:479.999980pt;}
.y11{bottom:537.999978pt;}
.y10{bottom:565.999976pt;}
.y1{bottom:805.000010pt;}
.h4{height:29.831999pt;}
.h3{height:30.447999pt;}
.hc{height:32.543999pt;}
.hb{height:37.967998pt;}
.h8{height:43.285154pt;}
.he{height:49.468748pt;}
.hf{height:50.991218pt;}
.h7{height:55.652341pt;}
.h5{height:71.967997pt;}
.h2{height:149.999994pt;}
.hd{height:584.999976pt;}
.h9{height:860.666667pt;}
.h6{height:918.999962pt;}
.ha{height:983.999959pt;}
.h1{height:984.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:743.999969pt;}
.w1{width:744.000000pt;}
.w0{width:816.000000pt;}
.x1{left:19.999999pt;}
.x0{left:36.000000pt;}
.x2{left:57.999998pt;}
.x3{left:123.999995pt;}
.x4{left:277.499988pt;}
}
