
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 160px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.human {
    position: absolute;
    width: 140px;
    height: 160px;
}

