.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.837000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.995000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.961000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.869000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-5.832000px;}
._2{margin-left:-4.740000px;}
._8{margin-left:-3.564000px;}
._4{margin-left:-2.544000px;}
._1{margin-left:-1.440000px;}
._0{width:1.080000px;}
._3{width:2.112000px;}
._7{width:34.764014px;}
._5{width:36.575998px;}
._9{width:53.999998px;}
.fc6{color:rgb(235,235,235);}
.fc5{color:rgb(204,204,204);}
.fc4{color:rgb(153,153,153);}
.fc0{color:rgb(42,42,42);}
.fc1{color:rgb(48,97,255);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(85,85,85);}
.fs9{font-size:32.999999px;}
.fs3{font-size:35.999999px;}
.fs7{font-size:41.999998px;}
.fs1{font-size:47.999998px;}
.fs4{font-size:53.999998px;}
.fs0{font-size:59.999998px;}
.fs8{font-size:67.499997px;}
.fs6{font-size:71.999997px;}
.fs5{font-size:89.279996px;}
.fs2{font-size:95.999996px;}
.y36{bottom:0.120000px;}
.y11{bottom:17.249999px;}
.ye{bottom:21.089999px;}
.y6{bottom:21.749999px;}
.y0{bottom:27.000000px;}
.y13{bottom:27.000032px;}
.y1{bottom:27.000034px;}
.y12{bottom:27.749999px;}
.y2b{bottom:32.249999px;}
.y5{bottom:39.749998px;}
.y2e{bottom:60.749997px;}
.y35{bottom:62.880030px;}
.y2a{bottom:68.249997px;}
.y4{bottom:75.749997px;}
.y29{bottom:86.249996px;}
.y3{bottom:93.749996px;}
.y34{bottom:111.749995px;}
.y2{bottom:131.999994px;}
.y2d{bottom:139.499994px;}
.y33{bottom:144.749994px;}
.yf{bottom:152.249994px;}
.y2c{bottom:155.249994px;}
.y32{bottom:177.749993px;}
.y31{bottom:210.749991px;}
.y28{bottom:239.249990px;}
.y30{bottom:243.749990px;}
.y27{bottom:257.249989px;}
.y26{bottom:275.249989px;}
.y2f{bottom:287.249988px;}
.y25{bottom:293.249988px;}
.y24{bottom:329.249986px;}
.y23{bottom:347.249986px;}
.yd{bottom:350.160018px;}
.y22{bottom:365.249985px;}
.y3b{bottom:389.999984px;}
.y21{bottom:401.249983px;}
.y3a{bottom:434.249982px;}
.y20{bottom:437.249982px;}
.y1f{bottom:455.249981px;}
.y39{bottom:457.499981px;}
.y1e{bottom:473.249980px;}
.y38{bottom:475.499980px;}
.yc{bottom:486.749980px;}
.y1d{bottom:491.249980px;}
.y1c{bottom:527.249978px;}
.y1b{bottom:545.249977px;}
.ya{bottom:555.749977px;}
.y9{bottom:573.749976px;}
.y1a{bottom:581.249976px;}
.y8{bottom:598.499975px;}
.y19{bottom:599.249975px;}
.y37{bottom:617.249974px;}
.y7{bottom:622.499974px;}
.y18{bottom:635.249974px;}
.yb{bottom:647.249973px;}
.y17{bottom:653.249973px;}
.y16{bottom:671.249972px;}
.y15{bottom:707.249971px;}
.y10{bottom:717.000005px;}
.y14{bottom:725.249970px;}
.y3c{bottom:737.500000px;}
.h12{height:8.400000px;}
.h10{height:9.120000px;}
.h7{height:24.803999px;}
.h15{height:27.611999px;}
.h16{height:28.000000px;}
.h13{height:28.937999px;}
.he{height:32.213999px;}
.h11{height:32.999999px;}
.h8{height:35.963999px;}
.h14{height:35.999999px;}
.h6{height:36.287998px;}
.h4{height:36.815998px;}
.h3{height:39.959998px;}
.hc{height:41.999998px;}
.hb{height:47.999998px;}
.h9{height:63.839997px;}
.h5{height:63.935997px;}
.hf{height:67.499997px;}
.ha{height:89.279996px;}
.h2{height:737.999969px;}
.h1{height:738.000000px;}
.hd{height:738.500000px;}
.h0{height:792.000000px;}
.w5{width:50.639998px;}
.w7{width:55.919998px;}
.w6{width:59.519998px;}
.w3{width:112.799995px;}
.w2{width:557.999977px;}
.w4{width:558.000000px;}
.w1{width:558.500000px;}
.w0{width:612.000000px;}
.x9{left:0.959998px;}
.x2{left:12.000000px;}
.x1{left:14.988281px;}
.x0{left:26.500000px;}
.x6{left:37.488280px;}
.x8{left:41.039998px;}
.x4{left:45.138279px;}
.xc{left:62.988279px;}
.x3{left:249.599990px;}
.xa{left:273.599989px;}
.x7{left:372.374984px;}
.xb{left:515.039979px;}
.x5{left:533.999978px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-7.776000pt;}
._2{margin-left:-6.320000pt;}
._8{margin-left:-4.752000pt;}
._4{margin-left:-3.392000pt;}
._1{margin-left:-1.920000pt;}
._0{width:1.440000pt;}
._3{width:2.816000pt;}
._7{width:46.352018pt;}
._5{width:48.767998pt;}
._9{width:71.999997pt;}
.fs9{font-size:43.999998pt;}
.fs3{font-size:47.999998pt;}
.fs7{font-size:55.999998pt;}
.fs1{font-size:63.999997pt;}
.fs4{font-size:71.999997pt;}
.fs0{font-size:79.999997pt;}
.fs8{font-size:89.999996pt;}
.fs6{font-size:95.999996pt;}
.fs5{font-size:119.039995pt;}
.fs2{font-size:127.999995pt;}
.y36{bottom:0.160000pt;}
.y11{bottom:22.999999pt;}
.ye{bottom:28.119999pt;}
.y6{bottom:28.999999pt;}
.y0{bottom:36.000000pt;}
.y13{bottom:36.000042pt;}
.y1{bottom:36.000045pt;}
.y12{bottom:36.999998pt;}
.y2b{bottom:42.999998pt;}
.y5{bottom:52.999998pt;}
.y2e{bottom:80.999997pt;}
.y35{bottom:83.840041pt;}
.y2a{bottom:90.999996pt;}
.y4{bottom:100.999996pt;}
.y29{bottom:114.999995pt;}
.y3{bottom:124.999995pt;}
.y34{bottom:148.999994pt;}
.y2{bottom:175.999993pt;}
.y2d{bottom:185.999992pt;}
.y33{bottom:192.999992pt;}
.yf{bottom:202.999992pt;}
.y2c{bottom:206.999991pt;}
.y32{bottom:236.999990pt;}
.y31{bottom:280.999988pt;}
.y28{bottom:318.999987pt;}
.y30{bottom:324.999986pt;}
.y27{bottom:342.999986pt;}
.y26{bottom:366.999985pt;}
.y2f{bottom:382.999984pt;}
.y25{bottom:390.999984pt;}
.y24{bottom:438.999982pt;}
.y23{bottom:462.999981pt;}
.yd{bottom:466.880025pt;}
.y22{bottom:486.999980pt;}
.y3b{bottom:519.999978pt;}
.y21{bottom:534.999978pt;}
.y3a{bottom:578.999976pt;}
.y20{bottom:582.999976pt;}
.y1f{bottom:606.999975pt;}
.y39{bottom:609.999975pt;}
.y1e{bottom:630.999974pt;}
.y38{bottom:633.999974pt;}
.yc{bottom:648.999973pt;}
.y1d{bottom:654.999973pt;}
.y1c{bottom:702.999971pt;}
.y1b{bottom:726.999970pt;}
.ya{bottom:740.999969pt;}
.y9{bottom:764.999968pt;}
.y1a{bottom:774.999968pt;}
.y8{bottom:797.999967pt;}
.y19{bottom:798.999967pt;}
.y37{bottom:822.999966pt;}
.y7{bottom:829.999965pt;}
.y18{bottom:846.999965pt;}
.yb{bottom:862.999964pt;}
.y17{bottom:870.999964pt;}
.y16{bottom:894.999963pt;}
.y15{bottom:942.999961pt;}
.y10{bottom:956.000007pt;}
.y14{bottom:966.999960pt;}
.y3c{bottom:983.333333pt;}
.h12{height:11.200000pt;}
.h10{height:12.159999pt;}
.h7{height:33.071999pt;}
.h15{height:36.815998pt;}
.h16{height:37.333333pt;}
.h13{height:38.583998pt;}
.he{height:42.951998pt;}
.h11{height:43.999998pt;}
.h8{height:47.951998pt;}
.h14{height:47.999998pt;}
.h6{height:48.383998pt;}
.h4{height:49.087998pt;}
.h3{height:53.279998pt;}
.hc{height:55.999998pt;}
.hb{height:63.999997pt;}
.h9{height:85.119996pt;}
.h5{height:85.247996pt;}
.hf{height:89.999996pt;}
.ha{height:119.039995pt;}
.h2{height:983.999959pt;}
.h1{height:984.000000pt;}
.hd{height:984.666667pt;}
.h0{height:1056.000000pt;}
.w5{width:67.519997pt;}
.w7{width:74.559997pt;}
.w6{width:79.359997pt;}
.w3{width:150.399994pt;}
.w2{width:743.999969pt;}
.w4{width:744.000000pt;}
.w1{width:744.666667pt;}
.w0{width:816.000000pt;}
.x9{left:1.279997pt;}
.x2{left:15.999999pt;}
.x1{left:19.984374pt;}
.x0{left:35.333333pt;}
.x6{left:49.984373pt;}
.x8{left:54.719998pt;}
.x4{left:60.184372pt;}
.xc{left:83.984372pt;}
.x3{left:332.799986pt;}
.xa{left:364.799985pt;}
.x7{left:496.499979pt;}
.xb{left:686.719971pt;}
.x5{left:711.999970pt;}
}
